<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      Filters
    </div>

    <div class="col-12 col-md-8 col-lg-9">
      <ul>
        {{#each model as |review|}}
          <li>
            {{review.id}} : {{review.comment}}
            
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>