<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      Filters
    </div>

    <div class="col-12 col-md-8 col-lg-9">
      {{#review-list reviews=model as |list|}}
        {{list.item}}
      {{/review-list}}

      {{infinity-loader infinityModel=model}}
    </div>
  </div>
</div>